* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
}

.weather-form {
    margin-bottom: 40px;
}

h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 50px;
}

input[type="text"] {
    padding: 10px;
    font-size: 1.2rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 300px;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #007bff;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.weather-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bubble {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    background-color: #007bff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: bubble-pop 1s ease-in-out;
}

.temperature {
    font-size: 1.8rem;
    color: white;
    margin-top: 20px;
}

.weather-icon {
  color: white;
  background-size: cover;
  background-position: center;
}

.hidden {
    display: none;
}

@keyframes bubble-pop {
    0% {
        transform: scale(0.5);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
